<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Digite o nome do cronograma</mat-card-title>
    </mat-card-header>

    <form class="example-form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            name="nameControl"
            matInput
            [formControl]="nameControl"
            required
            placeholder="Nome do cronograma">
          <mat-error *ngIf="nameControl.hasError('required')">
            Digite um <strong>nome</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="btn-block"
        [disabled]="nameControl.hasError('required')"
      >
          Entrar
      </button>
    </form>
  </mat-card>

</div>
