<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Catalogue.me</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>

  <mat-toolbar-row class="title">
    <button mat-icon-button (click)="drawer.toggle()" *ngIf="false">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Meus cronogramas</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="container" >
  <mat-sidenav #drawer [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="false" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-selection-list [multiple]="false">
      <mat-list-option [value]="" selected="true">
        Estudos
      </mat-list-option>
      <mat-list-option [value]="">
        Trabalho
      </mat-list-option>
      <mat-list-option [value]="">
        Exercício
      </mat-list-option>
      <mat-list-option [value]="">
        Faculdade
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-tab-group>
      <mat-tab *ngFor="let tab of tabs" [label]="tab.name">
        <mat-selection-list class="tasks">
          <ng-container *ngFor="let t of taskList">
            <mat-list-option *ngIf="t.day === tab.cod">
              {{t.name}}
            </mat-list-option>
          </ng-container>
        </mat-selection-list>
        <button mat-mini-fab class="add-icon" (click)="openDialog(tab.cod)" matTooltip="Adicione uma tarefa">
          <mat-icon>add</mat-icon>
        </button>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
